@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

$font-title: 'Noto Sans', sans-serif;
$font-text: 'Montserrat', sans-serif;

html,
body {
  margin: 0px;
  font-family: $font-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-title;
}

p,
span {
  font-family: $font-text;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
